GROQ_API_KEY=your_groq_api_key_here
GROQ_MODEL=openai/gpt-oss-120b

QDRANT_API_KEY=your_qdrant_api_key_here
QDRANT_URL=https://your-cluster.qdrant.io

UPSTASH_REDIS_TOKEN=your_upstash_redis_token_here
UPSTASH_REDIS_URL=https://your-upstash-redis-url.upstash.io

TESSDATA_PREFIX=/opt/homebrew/share/tessdata
